main {
    font-family: 'AppleSDGothicNeo';
}
.login-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 60px;
}

.login-header > div > span {
    margin-left: min(6.7vw, 50px);
    height: 39px;
    font-size: 44px;
    font-family: 'AppleSDGothicNeoB';
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -1.1px;
    text-align: left;
    color: var(--black);
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 260px; */
    align-items: center;
    margin: 60px 0px 50px 0px;
}


.login-container > div {
    margin-left: min(6.7vw, 50px);
}

.login-container > div > span {
    width: 239px;
}

.login-container > div > span > span {
    margin-top: 50px;
    width: 239px;
    height: 53px;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.26px;
    text-align: left;
    color: #8f8f8f;
}

.login-container > div > span > div > input {
    width: 650px;
    height: 60px;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.36px;
    text-align: left;
    color: #101010;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f0f0f0;
}
.login-container > div > span > img {
    width: 44px;
    height: 44px;
    margin: 25px 42px 13px 27px;
    object-fit: contain;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 60px;
}
.login-button > div > button {
    height: 110px;
    width: 650px;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    border-radius: 55px;
    background-color: #ff723a;
}
.login-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-options > div > a {
    display:inline;
    font-size: 28px;
    margin-right: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.28px;
    text-align: left;
    color: #8f8f8f;
}

/* modal popup */
.App {
    font-family: 'AppleSDGothicNeo';
}
#portal .modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
}
.modalContainer .modal {
    z-index: 1;
    width: 350px;
    height: 220px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
}
.modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}
@keyframes animate {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}