main {
    font-family: 'AppleSDGothicNeo';
}
.login-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    margin-top: min(1vh, 60px);
}

.login-header > div > span {
    margin-left: min(1vw, 50px);
    height: 39px;
    font-size: min(6.5vw, 44px);
    font-family: 'AppleSDGothicNeoB';
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -1.1px;
    text-align: left;
    color: var(--black);
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 260px; */
    align-items: center;
    margin-top: min(4vh, 50px);
    margin-bottom: min(5vh, 60px);
}


.login-container > div {
    margin-left: min(6.7vw, 50px);
    padding: 0px;
}

.login-container > div > span {
    width: min(90vw, 239px);
}

.login-container > div > span > span {
    margin-top: min(0.9vh, 60px);
    width: min(90vw, 239px);
    height: min(9vw, 53px);
    font-size: min(4vw, 26px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.26px;
    text-align: left;
    color: #8f8f8f;
}

.login-container > div > span > div {
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: min(2vw, 20px);
}
.login-container > div > span > div > input {
    width: min(70vw, 650px);
    height: min(10vw, 60px);
    font-size: min(4vw, 36px);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.36px;
    text-align: left;
    color: #101010;
    border:none;
}
.login-container > div > span > div > input::placeholder {
    opacity: 0.3;
    color: rgba(16, 16, 16, 0.3);
}
.login-container > div > span > div > input::-webkit-outer-spin-button,
.login-container > div > span > div > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.login-container > div > span > div > span {
    font-family: 'AppleSDGothicNeo';
    font-size: min(4vw, 28px);
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    text-align: right;
    color: #ff723a;
}
.login-container > div > span > div > img {
    width: min(10vw, 44px);
    height: min(10vw, 44px);
    object-fit: contain;
    float: right;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: min(6vw, 60px);
}
.login-button > div > button {
    height: min(20vw, 110px);
    width: min(70vw, 650px);
    font-size: min(6.5vw, 32px);
    color: #ffffff;
    text-align: center;
    border-radius: 55px;
    background-color: #ff723a;
    border : none;
}
.login-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-options > div > a {
    display:inline;
    font-size: min(3.5vw, 28px);
    margin-right: min(3.5vw, 20px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.28px;
    text-align: left;
    color: #8f8f8f;
}
.check-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.check-options > div {
    padding: 0px;
}
.check-options > div > span {
    width: min(75vw, 750px);
    height: min(9vw, 40px);
    margin-bottom: min(2vw, 20px);
    float: left;
}
.check-options > div > span > img {
    width: min(9vw, 40px);
    height: min(9vw, 40px);
    object-fit: contain;
    float: left;
}
.check-options > div > span > span {
    font-size: min(4vw, 28px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.28px;
    text-align: left;
    color: #8f8f8f;
}
.check-options > div > span > span.highlight {
    color: #ff723a;
}
