main {
    font-family: 'AppleSDGothicNeo';
}

.app-home-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:380px;
    background-color: rgb(255, 114, 58);
}

.app-home-header > div {
    flex: 1;
}

.app-home-header > div > div {
    position: relative;
    overflow: hidden;
}

.app-home-header > div > div > img  {
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top:0%;
}

.app-home-header > div > span {
    position: absolute;
    top:80%;
    left:0%;
    background-color: white;
    max-width: 410px;
    width:410px;
    height:280px;
    white-space: nowrap;
    padding: 28px 0px 0px 51px;
}


.app-home-header > div > span > span {
    
    display: inline-block;
    max-width: 424px;
    width: 424px;
    height: 194px;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.6px;
    text-align: left;
    color: #101010;
}

.app-home-header > div > span > div {
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.92;
    letter-spacing: -0.24px;
    text-align: left;
    color: #ff723a;
    cursor: pointer;
}


.app-moment-content-star {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 317px;
}

.app-moment-content-star > div:first-child { 
    display:  flex;
    flex-direction: column;
}
.app-moment-content-star > div > h3 {
    display:flex;
    align-items: center;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: -0.34px;
    line-height: 2.06;
}
.app-moment-content-star > div > h3 > img {margin: 0px 9px 0px 43px; }
.app-moment-content-star > div > div { 
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    flex: 1;
    overflow-x: auto; 
    margin-left: 50px;
}

/* 
.app-moment-content-star > div > div > article:last-child > .img-content {
    background:none;
    background-color: rgb(255, 114, 58);
    margin-right: 0px;
}
*/

.app-moment-content-sns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 600;
    margin-top:102px;
}

.app-moment-content-sns > div:first-child { display:  flex; flex-direction: column;}
.app-moment-content-sns > div > h3 {display:flex;align-items: center ;margin-bottom:32px; font-size: 34px; font-weight: 800; letter-spacing: -0.34px; color:#101010}
.app-moment-content-sns > div > h3 > img {margin: 0px 9px 0px 43px; }
.app-moment-content-sns > div > div { display: flex; flex-direction: row; flex: 1; overflow-x: auto; margin-left: 50px; align-items: flex-start;}


.app-moment-more {
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin:58px 0px 97px 0px;
    height: 39px;
}
.app-moment-more > span {
    margin-right: 10px;
}


.app-moment-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 600;
    height: 640px;
    background-color: rgb(255, 114, 58);
}

.app-moment-description > .container > h3 {
    margin: 62px 0px 36px 50px;
    font-size:34px;
    font-weight: 800;
    color:#ffffff;
}

.app-moment-description > .container > div > .description-card {
    width: 320px;
    height:440px;
    background-color: white;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.app-moment-description > .container > div > .description-card:nth-child(1) {
    margin-left: 50px;
}

.app-moment-description > .container > div > .description-card > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 26px 0px 0px 31px;
}

.app-moment-description > .container > div > .description-card > div > span:first-child {
    font-size: 30px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-bottom: 19px;
}

.app-moment-description > .container > div > .description-card > div > span:nth-child(2) {
    font-size: 26px;
    opacity: .8;
    color:rgba(143, 143, 143, 0.8);
    letter-spacing: -0.26px;
    font-weight: normal;
    line-height: 1.23;
}

.app-moment-description > .container > div > .description-card > div > span:nth-child(3) {
    position: absolute;
    bottom:29px;
    left:31px;
    color:#ff723a;
    cursor: pointer;
}

.app-moment-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 600;
    height: 540px;
    background-color: #f7f7f7;
}

.app-moment-footer > .container > .footer-header {
    margin: 60px 0px 38px 50px
}

.app-moment-footer > .container > .footer-content {
    font-size: 24px;
    line-height: 1.67;
    margin-left:49px;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666;
    margin-bottom: 40px;
}

.app-moment-footer > .container > .footer-content > p {
    margin:0px
}

.app-moment-footer > .container > .footer-list {
    margin: 0px 0px 64px 49px;
    
}

.app-moment-footer > .container > .footer-list > span {
    width:82px;
    height: 22px;
    line-height: 22px;
    border-right: 1px solid #dddddd;
    padding: 0px 20px;
    font-size: 24px;
    color:#666666;
    cursor: pointer;
}

.app-moment-footer > .container > .footer-list > span:first-child {
    padding: 0px 20px 0px 0px;
}

.app-moment-footer > .container > .footer-list > span:last-child {
    border-right: 0px;
}

.app-moment-footer > .container > .footer-sns > img:first-child {
    margin-left:50px;
    margin-right: 20px;
}


@media (max-width: 750px) {
    .app-home-header > div > span > span {
        font-size:min(7vw, 60px);
        width: 100%;
        height: auto;
    }

    .app-home-header > div > span {
        width: 100%;
        padding-top: min(6vw, 28px);
        padding-left: min(6vw, 51px);
    }

    .app-moment-content-star {
        margin-top: 33vw;
    }
    


    .app-moment-content-star > div > h3 > span, .app-moment-content-sns > div > h3 > span {
        font-size: min(7vw, 34px);
    }

    .app-moment-content-star > div > h3 > img, .app-moment-content-sns > div > h3 > img {
        margin: 0px 9px 0px 3vw;
    }

    .app-moment-content-star > div > div, .app-moment-content-sns > div > div {
        margin-left:3vw;
    }

    .app-moment-content-star > div > h3, .app-moment-content-sns > div > h3 {
        margin-bottom: min(3vw, 32px);
    }

    .app-moment-content-sns {
        margin-top:min(10vw ,102px);
    }

    .app-moment-more {
        margin-top: min(7vw, 58px);
        margin-bottom: min(10vw, 97px);
        font-size: min(5vw, 28px);
    }

    .app-moment-more > img {
        width: min(7vw, 30px);
        height: min(7vw, 30px);
    }

    .app-moment-description {
        height: auto;
    }

    .app-moment-description > .container > h3 {
        font-size:min(7vw, 34px);
        margin-top: min(7vw, 62px);
        margin-bottom: min(5vw, 36px);
        margin-left: 10px
    }

    .app-moment-description > .container > div > .description-card {
        overflow: hidden;
        width: min(45vw, 320px);
        height:min(63.3vw, 400px);
    }

    .app-moment-description > .container > div > .description-card > div {
        margin-top: min(3vw, 26px);
        margin-left: min(5vw, 31px);
    }

    
    .app-moment-description > .container > div > .description-card > img {
        width: 100%;
    }

    .app-moment-description > .container > div > .description-card > div > span:first-child {
        font-size: min(3vw, 30px);
        margin-bottom: min(1vw, 19px);
    }

    .app-moment-description > .container > div > .description-card:nth-child(1) {
        margin-left: 2vw;
    }
    
    .app-moment-description > .container > div > .description-card > div > span:nth-child(2) {
        font-size: min(3vw, 26px);
        opacity: .8;
        color:rgba(143, 143, 143, 0.8);
        line-height: 1.23;
    }
    
    .app-moment-description > .container > div > .description-card > div > span:nth-child(3) {
        font-size: min(3vw, 18px);
        color:#ff723a;
        left:min(5vw, 31px);
    }

    .app-moment-description > .container > div > .description-card > div > span:nth-child(3) > img {
        width: 24px
    }

    .app-moment-description > .container > div > .description-card > div > span {
        font-size: min(5vw, 30px);
    }

        
    .app-moment-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.3em;
        font-weight: 600;
        height: 540px;
        background-color: #f7f7f7;
    }

    .app-moment-footer > .container > .footer-header > img {
        width: min(50vw, 289px)
    }

    .app-moment-footer > .container > .footer-header {
        margin-top: min(7vw, 60px);
        margin-bottom: min(7vw, 60px);
        margin-left: min(5vw, 50px);
    }

    .app-moment-footer > .container > .footer-content {
        margin-left:min(5vw, 49px);
        font-size: min(5vw, 24px);
        margin-bottom: min(5vw, 40px);
    }

    .app-moment-footer > .container > .footer-list {
        margin-bottom: min(6vw, 64px);
        margin-left: min(5vw, 49px);
    }

    .app-moment-footer > .container > .footer-list > span {
        border-right: 1px solid #dddddd;
        padding-left:min(2vw, 20px);
        padding-right:min(2vw, 20px);
        font-size: min(4vw, 24px);
    }

    .app-moment-footer > .container > .footer-list > span:first-child {
        padding-right: min(1vw, 20px);
    }

    .app-moment-footer > .container > .footer-sns > img:first-child {
        margin-left:min(5vw, 50px);
    }
 
}

@media (max-width: 500px) { 
    
    .app-moment-description > .container > div > .description-card > div > span:nth-child(3) {
        bottom: min(2vw , 15px)
    }

}