.App-Header {
    height:110px;
    display: flex;
    z-index: 2;
    position: sticky;
    top:0;
    background-color: white;
    justify-content: center;
    font-size: 1.5em;
}

.App-Header > .navigation-bar {
    display: flex;
    flex: 1;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 50px;
}

.App-Header > .navigation-bar > div {
    display: flex;
    align-items: center;
    flex:1;
    cursor: pointer;
}

.App-Header > .navigation-bar > div:nth-child(2) {
    justify-content: center;
}

.App-Header > .navigation-bar > div:nth-child(3) {
    justify-content: flex-end;
}

.App-Header > .navigation-bar > div:nth-child(3) > img:nth-child(1) {
    margin-right: 24px;
}

.App-Header > .navigation-bar > div:nth-child(3) > img:nth-child(2) {
    width: 44px;
    height: 44px;
    border-radius: 44px;
}

@media (max-width: 750px) {

    .App-Header {
        height: min(20vw, 110px);
    }

    .App-Header > .navigation-bar {
        padding: 2vw 3vw
    }

    .App-Header > .navigation-bar .top-icon {
        min-width: 24px;
        width: 6vw;
    }

    .App-Header > .navigation-bar .top-logo {
        width: min(35vw, 170px);
    }

    .App-Header > .navigation-bar > div:nth-child(3) > img:nth-child(1) {
        margin-right: min(2vw, 24px);
    }

    .App-Header > .navigation-bar > div:nth-child(3) > img:nth-child(2) {
        width: min(7vw, 44px);
        height: min(7vw, 44px);
    }
}




